.btn-special-animation {
  position: relative;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  overflow: hidden;
  z-index: 0;
}

.btn-special-animation::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  z-index: -1;
  background-color: rgba(26, 25, 25, 0.555);
}

.btn-special-animation:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.section {
  position: relative;
  padding: 7%;
}

.darker-btn {
  height: 4.5em;
  width: 14em;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1em;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  -webkit-box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
}

.card-platforms {
  position: absolute;
  top: 3%;
}

.card-platforms img {
  height: 1em;
  width: 1em;
}

.splide {
  margin-top: 10%;
  padding: 4%;
}

.splide__slide {
  opacity: 0.6;
}

.splide__slide .card img {
  height: 375px;
  width: 375px;
}

.splide__slide .card .vectors-first {
  position: absolute;
  top: 17%;
  left: 15%;
}

.splide__slide .card .vectors-first img {
  height: 210%;
  width: 210%;
}

.splide__slide .card .vectors-second {
  position: absolute;
  top: 12%;
  right: 17%;
}

.splide__slide .card .vectors-second img {
  height: 99%;
  width: 99%;
}

.splide__slide .card .vectors-third {
  position: absolute;
  top: 28%;
  left: 29%;
}

.splide__slide .card .vectors-third img {
  height: 99%;
  width: 99%;
}

.splide__slide .card .vectors-fourth {
  position: absolute;
  top: 2%;
}

.splide__slide .card .vectors-fourth img {
  height: 96%;
  width: 96%;
}

.splide__slide .card .vectors-fifth {
  position: absolute;
  top: 33%;
  left: 6%;
}

.splide__slide .card .vectors-fifth img {
  height: 200%;
  width: 200%;
}

.splide__slide .card .card-platforms {
  position: absolute;
  top: 4%;
  right: 4%;
}

.splide__slide .card .card-platforms img {
  height: 100%;
  width: 100%;
}

.splide__slide.is-active {
  opacity: 1;
}

.scribble {
  position: absolute;
  top: -76px;
}

.section-title {
  position: absolute;
  top: 140px;
  left: 50%;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 59px;
  color: #000000;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  letter-spacing: -0.02em;
}

.text-under-section-title {
  position: absolute;
  top: 226px;
  left: 50%;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 22px;
  color: #4D4D4D;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
}

.active {
  display: block;
}

header {
  height: 1650px;
  width: 100vw;
  padding: 2% 0 0;
  background-color: #F7EDE8;
  text-align: center;
}

header nav {
  position: relative;
  height: 9%;
  width: 79%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

header nav .nav-logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
}

header nav .nav-menu {
  position: absolute;
  height: 45%;
  width: 30%;
  padding: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  left: 28%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
}

header nav .nav-menu .nav-menu-btn {
  height: 140%;
  width: 26%;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #000000;
  cursor: pointer;
  border-bottom-right-radius: 6px;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

header nav .nav-menu .more-menu-btn {
  position: relative;
  height: 140%;
  width: 26%;
  padding: 0 0 0 2.5%;
  border-top-right-radius: 6px;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  background-color: transparent;
}

header nav .nav-menu .more-menu-btn .more-btn {
  padding: 4% 10% 2%;
}

header nav .nav-menu .more-menu-btn button {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

header nav .nav-menu .more-menu-btn img {
  margin-top: 2%;
  margin-left: 5%;
}

header nav .nav-menu .more-menu-btn:hover {
  -webkit-box-shadow: 2px -2px #eec1ab;
          box-shadow: 2px -2px #eec1ab;
}

header nav .nav-menu .nav-menu-btn:hover {
  -webkit-box-shadow: 2px 2px #eec1ab;
          box-shadow: 2px 2px #eec1ab;
}

header nav .nav-menu .dropdown-content {
  position: absolute;
  display: none;
  width: 100%;
  padding-top: 10%;
  top: 82%;
  left: 0;
  background-color: transparent;
  border-bottom-right-radius: 6px;
}

header nav .nav-menu .dropdown-content a {
  display: block;
  margin-bottom: 2%;
  padding: 3% 3% 2%;
  text-align: center;
  text-decoration: none;
  color: #000000;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

header nav .nav-menu .dropdown-content a:hover {
  -webkit-box-shadow: 3px 0 0.1px -1px #eec1ab;
          box-shadow: 3px 0 0.1px -1px #eec1ab;
}

header nav .nav-main-btns {
  position: absolute;
  height: 45%;
  width: 26%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  right: -9%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header nav .nav-main-btns .nav-main-btn {
  padding: 2% 5%;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 80%;
  font-weight: 400;
  border: 2px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

header nav .nav-main-btns .nav-main-btn:nth-child(1) {
  background-color: transparent;
  text-decoration: none;
  color: #000000;
}

header nav .nav-main-btns .nav-main-btn:nth-child(2) {
  color: #ffffff;
  background-color: #000000;
  -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

header nav .nav-main-btns .nav-main-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header h1 {
  margin-top: 5%;
  font-size: 96px;
  font-weight: 700;
}

header h1 span {
  display: block;
  color: #CD4631;
}

header .header-short-description {
  margin-top: 3%;
  font-size: 16px;
  color: #4D4D4D;
}

header .header-short-description span {
  display: block;
}

header .header-sub-btn {
  margin-top: 5%;
}

header .hero-shape-swirl {
  position: absolute;
  top: 15%;
}

header .hero-shape-stars {
  position: absolute;
  top: 39%;
  right: 0;
}

header .supported-platforms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 3% auto 0;
  padding: 3% 0;
  border-top: 2px solid #4D4D4D;
  border-bottom: 2px solid #4D4D4D;
}

header .supported-platforms .platforms {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  text-align: center;
}

header .supported-platforms .platforms p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: bold;
}

header .supported-platforms .platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#about {
  height: 1400px;
  background-color: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about h2 span {
  display: block;
}

#about .ideas-area {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  height: 30%;
  top: 25%;
  padding: 5px 5%;
}

#about .ideas-area .idea {
  margin: 0 2.5px;
  padding: 10%;
}

#about .ideas-area .idea img {
  height: 60%;
  width: 58%;
}

#about .ideas-area .idea p {
  margin-top: 6%;
}

#about .quote-area {
  position: absolute;
  height: 28%;
  width: 80%;
  top: 65%;
  left: 50%;
  background-color: #F7EDE8;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#about .quote-area p {
  margin-top: 12%;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 130%;
}

#about .quote-area p span {
  display: block;
}

#about .quote-area .quore-vectors img:nth-child(1) {
  position: absolute;
  top: -17%;
  right: -4%;
}

#about .quote-area .quore-vectors img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: -6%;
}

#about .quote-area .quore-vectors img:nth-child(3) {
  position: absolute;
  top: 14%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#about .quote-area .quote-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5.5%;
  gap: 1%;
}

#about .quote-area .quote-author .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#about .quote-area .quote-author .author img {
  margin-right: 6%;
  border-radius: 50%;
}

#about .quote-area .quote-author .author .author-first-name {
  margin-top: 16%;
  font-size: 14px;
  font-weight: 400;
}

#user-opinions {
  height: 850px;
  background-color: #EDF3F7;
  text-align: center;
}

#user-opinions img:nth-of-type(2) {
  position: absolute;
  top: 7.5%;
  left: 20%;
}

#user-opinions .opinions-container {
  height: 45%;
  width: 63%;
  top: 45%;
}

#user-opinions .opinions-container .opinion {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 11%;
  background-color: #ffffff;
  border-radius: 8px;
}

#user-opinions .opinions-container .opinion .opinion-quotation {
  position: absolute;
  top: 16%;
  left: 5%;
}

#user-opinions .opinions-container .opinion .opinion-text {
  position: absolute;
  margin-top: 2%;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 22px;
  width: 80%;
  left: 5%;
  text-align: left;
}

#user-opinions .opinions-container .opinion .user {
  position: relative;
  height: 50%;
  width: 60%;
  top: 90%;
  left: -7.5%;
  background-color: aqua;
}

#user-opinions .opinions-container .opinion .user img:nth-of-type(1) {
  left: 0;
  border-radius: 50%;
}

#user-opinions .opinions-container .opinion .user img:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

#user-opinions .opinions-container .opinion .user p {
  position: absolute;
  top: 50%;
  left: 16%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
/*# sourceMappingURL=main.css.map */