.btn-special-animation {
  position: relative;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
  background-color: rgba(26, 25, 25, 0.666);
}
.btn-special-animation:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.section {
  position: relative;
  padding: 5%;
  text-align: center;
}

.darker-btn {
  padding: 2% 5%;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1em;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  -webkit-box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
}

.card-platforms {
  position: absolute;
  top: 3%;
}
.card-platforms img {
  height: 1em;
  width: 1em;
}

.splide {
  margin-top: 10%;
  padding: 4%;
}

.splide__slide {
  opacity: 0.6;
}
.splide__slide .card img {
  height: 375px;
  width: 375px;
}
.splide__slide .card .vectors-first {
  position: absolute;
  top: 17%;
  left: 15%;
}
.splide__slide .card .vectors-first img {
  height: 210%;
  width: 210%;
}
.splide__slide .card .vectors-second {
  position: absolute;
  top: 12%;
  right: 17%;
}
.splide__slide .card .vectors-second img {
  height: 99%;
  width: 99%;
}
.splide__slide .card .vectors-third {
  position: absolute;
  top: 28%;
  left: 29%;
}
.splide__slide .card .vectors-third img {
  height: 99%;
  width: 99%;
}
.splide__slide .card .vectors-fourth {
  position: absolute;
  top: 2%;
}
.splide__slide .card .vectors-fourth img {
  height: 96%;
  width: 96%;
}
.splide__slide .card .vectors-fifth {
  position: absolute;
  top: 33%;
  left: 6%;
}
.splide__slide .card .vectors-fifth img {
  height: 200%;
  width: 200%;
}
.splide__slide .card .card-platforms {
  position: absolute;
  top: 4%;
  right: 4%;
}
.splide__slide .card .card-platforms img {
  height: 100%;
  width: 100%;
}

.splide__slide.is-active {
  opacity: 1;
}

.scribble {
  position: absolute;
  top: -76px;
  left: 50%;
  z-index: 1;
}

.section-title {
  position: absolute;
  top: 140px;
  left: 50%;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 59px;
  color: #000000;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  letter-spacing: -0.02em;
}

.text-under-section-title {
  position: absolute;
  top: 226px;
  left: 50%;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 22px;
  color: #4D4D4D;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.episode-card-shadow {
  -webkit-box-shadow: 10px 10px #81ADC8;
          box-shadow: 10px 10px #81ADC8;
}

.red-title {
  color: #CD4631;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}

.active {
  display: block;
}

header {
  height: 1650px;
  width: 100vw;
  padding: 2% 0 0;
  background-color: #F7EDE8;
  text-align: center;
}
header nav {
  position: relative;
  height: 9%;
  width: 79%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}
header nav .nav-logo {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
header nav .nav-menu {
  position: absolute;
  height: 45%;
  width: 30%;
  padding: 2% 0;
  top: 50%;
  left: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
header nav .nav-menu .nav-menu-btn {
  height: 140%;
  width: 26%;
  font-family: "Montserrat Alternates", sans-serif;
  color: #000000;
  text-decoration: none;
  border-bottom-right-radius: 6px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  cursor: pointer;
}
header nav .nav-menu .more-menu-btn {
  position: relative;
  height: 140%;
  width: 26%;
  padding: 0 0 0 2.5%;
  background-color: transparent;
  border-top-right-radius: 6px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
header nav .nav-menu .more-menu-btn .more-btn {
  padding: 4% 10% 2%;
}
header nav .nav-menu .more-menu-btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: transparent;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
header nav .nav-menu .more-menu-btn img {
  margin-top: 2%;
  margin-left: 5%;
}
header nav .nav-menu .more-menu-btn:hover {
  -webkit-box-shadow: 2px -2px #eec1ab;
          box-shadow: 2px -2px #eec1ab;
}
header nav .nav-menu .nav-menu-btn:hover {
  -webkit-box-shadow: 2px 2px #eec1ab;
          box-shadow: 2px 2px #eec1ab;
}
header nav .nav-menu .dropdown-content {
  position: absolute;
  display: none;
  width: 100%;
  padding-top: 10%;
  top: 82%;
  left: 0;
  background-color: transparent;
  border-bottom-right-radius: 6px;
}
header nav .nav-menu .dropdown-content a {
  display: block;
  margin-bottom: 2%;
  padding: 3% 3% 2%;
  text-align: center;
  text-decoration: none;
  color: #000000;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
header nav .nav-menu .dropdown-content a:hover {
  -webkit-box-shadow: 3px 0 0.1px -1px #eec1ab;
          box-shadow: 3px 0 0.1px -1px #eec1ab;
}
header nav .nav-main-btns {
  position: absolute;
  height: 45%;
  width: 26%;
  top: 50%;
  right: -9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
header nav .nav-main-btns .nav-main-btn {
  padding: 2% 5%;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 80%;
  font-weight: 400;
  border: 2px solid #000000;
  border-radius: 8px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}
header nav .nav-main-btns .nav-main-btn:nth-child(1) {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}
header nav .nav-main-btns .nav-main-btn:nth-child(2) {
  color: #ffffff;
  background-color: #000000;
  -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}
header nav .nav-main-btns .nav-main-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
header h1 {
  margin-top: 5%;
  font-size: 96px;
  font-weight: 700;
}
header h1 span {
  display: block;
  color: #CD4631;
}
header .header-short-description {
  margin-top: 3%;
  font-size: 16px;
  color: #4D4D4D;
}
header .header-short-description span {
  display: block;
}
header .header-sub-btn {
  margin-top: 5%;
}
header .hero-shape-swirl {
  position: absolute;
  top: 15%;
}
header .hero-shape-stars {
  position: absolute;
  top: 39%;
  right: 0;
}
header .supported-platforms {
  width: 80%;
  margin: 3% auto 0;
  padding: 3% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px solid #4D4D4D;
  border-bottom: 2px solid #4D4D4D;
}
header .supported-platforms .platforms {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
}
header .supported-platforms .platforms p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: bold;
}
header .supported-platforms .platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#about {
  height: 1400px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}
#about h2 span {
  display: block;
}
#about .ideas-area {
  position: absolute;
  height: 30%;
  padding: 5px 5%;
  top: 25%;
  display: grid;
  grid-template-columns: auto auto;
}
#about .ideas-area .idea {
  margin: 0 2.5px;
  padding: 10%;
}
#about .ideas-area .idea img {
  height: 60%;
  width: 58%;
}
#about .ideas-area .idea p {
  margin-top: 6%;
}
#about .quote-area {
  position: absolute;
  height: 28%;
  width: 80%;
  top: 65%;
  left: 50%;
  background-color: #F7EDE8;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
#about .quote-area p {
  margin-top: 12%;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 130%;
}
#about .quote-area p span {
  display: block;
}
#about .quote-area .quore-vectors img:nth-child(1) {
  position: absolute;
  top: -17%;
  right: -4%;
}
#about .quote-area .quore-vectors img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: -6%;
}
#about .quote-area .quore-vectors img:nth-child(3) {
  position: absolute;
  top: 14%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
#about .quote-area .quote-author {
  margin-top: 5.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1%;
}
#about .quote-area .quote-author .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#about .quote-area .quote-author .author img {
  margin-right: 6%;
  border-radius: 50%;
}
#about .quote-area .quote-author .author .author-first-name {
  margin-top: 16%;
  font-size: 14px;
  font-weight: 400;
}

#user-opinions {
  height: 850px;
  width: 100vw;
  background-color: #EDF3F7;
}
#user-opinions img:nth-of-type(2) {
  position: absolute;
  top: 7.5%;
  left: 20%;
}
#user-opinions .opinions-container {
  height: 45%;
  width: 63%;
  top: 45%;
}
#user-opinions .opinions-container .opinion {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 11%;
  background-color: #ffffff;
  border-radius: 8px;
}
#user-opinions .opinions-container .opinion .opinion-quotation {
  position: absolute;
  top: 16%;
  left: 5%;
}
#user-opinions .opinions-container .opinion .opinion-text {
  position: absolute;
  margin-top: 2%;
  width: 80%;
  left: 5%;
  text-align: left;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 22px;
}
#user-opinions .opinions-container .opinion .user {
  position: relative;
  height: 50%;
  width: 60%;
  top: 90%;
  left: -7.5%;
}
#user-opinions .opinions-container .opinion .user img:nth-of-type(1) {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
  border-radius: 50%;
}
#user-opinions .opinions-container .opinion .user img:nth-of-type(2) {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 35%;
}
#user-opinions .opinions-container .opinion .user p {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 18%;
}

#benefits {
  height: 1340px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}
#benefits .benefits-uniquely-scribble {
  position: absolute;
  top: -2.5%;
  right: 18%;
}
#benefits .benefits-container {
  position: absolute;
  height: 55%;
  width: 100%;
  padding: 2%;
  top: 24%;
  left: 50%;
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  gap: 1em;
}
#benefits .benefits-container .benefit-card {
  display: grid;
  grid-template-rows: 50% 15% 35%;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  border-bottom-right-radius: 8px;
}
#benefits .benefits-container .benefit-card .benefit-card-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#benefits .benefits-container .benefit-card:hover {
  -webkit-box-shadow: 5px 5px #81ADC8;
          box-shadow: 5px 5px #81ADC8;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
#benefits .benefits-btn {
  height: 4.5em;
  top: 87.5%;
}

#episodes {
  position: relative;
  height: 1460px;
  width: 100vw;
  background-color: #F7EDE8;
}
#episodes .episodes-btn {
  top: 26.4%;
}
#episodes .episodes-sparkle {
  position: absolute;
  top: 11%;
  left: 84%;
}
#episodes .episodes-container {
  position: relative;
  height: 62.4%;
  width: 92%;
  top: 20%;
  left: 50%;
  display: grid;
  grid-template-columns: auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#episodes .episodes-container .episode-card {
  position: relative;
  height: 249px;
  width: 570px;
  padding: 2%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 84% 16%;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 9px;
}
#episodes .episodes-container .episode-card .card-cover {
  display: grid;
  grid-template-columns: 30% 60%;
}
#episodes .episodes-container .episode-card .card-cover .card-cover-image img {
  border-radius: 10px;
}
#episodes .episodes-container .episode-card .card-cover .card-cover-items {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 47.5% 5% 47.5%;
}
#episodes .episodes-container .episode-card .card-cover .card-cover-items .card-cover-title {
  height: 70%;
  width: 110%;
  margin: 5% 0 10% 5.5%;
  text-align: left;
}
#episodes .episodes-container .episode-card .card-cover .card-cover-items .card-cover-title p {
  margin-bottom: 1.5%;
  font-weight: 700;
  color: #CD4631;
}
#episodes .episodes-container .episode-card .card-cover .card-cover-items .card-cover-text {
  width: 110%;
  margin-left: 5.5%;
  padding-top: 3%;
  text-align: left;
  color: #4D4D4D;
}
#episodes .episodes-container .episode-card .card-cover .card-cover-items .card-cover-line {
  height: 1%;
  background-color: #4D4D4D;
  width: 110%;
  margin-left: 5.5%;
}
#episodes .episodes-container .episode-card .card-info {
  display: grid;
  grid-template-columns: 65% 35%;
}
#episodes .episodes-container .episode-card .card-info .host-authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#episodes .episodes-container .episode-card .card-info .host-authors img {
  margin-left: 3%;
}
#episodes .episodes-container .episode-card .card-info .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
#episodes .episodes-container .episode-card .card-info .tags img {
  margin-right: 2%;
}

#become-sponsor {
  height: 1200px;
  width: 100vw;
  background-color: #ffffff;
  text-align: center;
}
#become-sponsor img:nth-child(1) {
  position: absolute;
  top: 6%;
  left: 23%;
}
#become-sponsor img:nth-child(2) {
  position: absolute;
  top: 22.5%;
  right: 0.5%;
}
#become-sponsor img:nth-child(3) {
  position: absolute;
  height: 80px;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  top: 63%;
  left: 26.5%;
}
#become-sponsor .sponsoring-offers {
  position: relative;
  height: 80%;
  width: 100%;
  padding: 5% 0;
  top: 19%;
  left: 50%;
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  -webkit-column-gap: 3%;
     -moz-column-gap: 3%;
          column-gap: 3%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#become-sponsor .sponsoring-offers .offer-card {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: 57% 43%;
}
#become-sponsor .sponsoring-offers .offer-card .offer-info {
  margin-bottom: 8.5%;
  padding: 10% 10% 13% 10%;
  display: grid;
  grid-template-rows: 30% 30% 40%;
  text-align: left;
  border-radius: 9px;
  border: 2px solid #000000;
}
#become-sponsor .sponsoring-offers .offer-card .offer-info p {
  font-size: 14px;
}
#become-sponsor .sponsoring-offers .offer-card .offer-info h2 {
  font-size: 36px;
}
#become-sponsor .sponsoring-offers .offer-card .offer-info .subscription {
  display: grid;
  grid-template-columns: 60% 40%;
}
#become-sponsor .sponsoring-offers .offer-card .offer-info .subscription .sponsoring-btn button {
  margin-top: 35%;
  padding: 10% 20%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
#become-sponsor .sponsoring-offers .offer-card .offer-info .subscription .price {
  padding-top: 59%;
  text-align: right;
}
#become-sponsor .sponsoring-offers .offer-card .sponsoring-benefits {
  padding: 10%;
  text-align: left;
  border: 2px solid #000000;
  border-radius: 9px;
}
#become-sponsor .sponsoring-offers .offer-card .sponsoring-benefits p {
  margin-bottom: 10%;
  font-size: 14px;
  color: #4D4D4D;
}
#become-sponsor .sponsoring-offers .offer-card .sponsoring-benefits .sponsoring-benefits-list {
  padding-left: 5.5%;
}
#become-sponsor .sponsoring-offers .offer-card .sponsoring-benefits .sponsoring-benefits-list li {
  margin-bottom: 6%;
  font-size: 16px;
}
#become-sponsor .sponsoring-offers .offer-card .sponsoring-benefits .sponsoring-benefits-list li span {
  font-weight: 700;
}
#become-sponsor .sponsoring-offers .offer-special .offer-info {
  border: 2px solid #CD4631;
  background-color: #F7EDE8;
}
#become-sponsor .sponsoring-offers .offer-special .offer-info .offer-info-special {
  position: absolute;
  padding: 1%;
  top: 7.5%;
  right: 10.7%;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #CD4631;
  border-radius: 3px;
}
#become-sponsor .sponsoring-offers .offer-special .sponsoring-benefits {
  background-color: #F7EDE8;
  border: 2px solid #CD4631;
}

#news-section {
  height: 1300px;
  width: 100vw;
  background-color: #ffffff;
  z-index: 1;
}
#news-section .news-black-star {
  position: absolute;
  margin-top: 200px;
  top: 3.2%;
  left: 3%;
  z-index: 2;
}
#news-section .news-black-swirl {
  position: absolute;
  top: 72%;
  right: 4%;
}
#news-section .news-container {
  position: absolute;
  height: 670px;
  width: 81%;
  top: 26%;
  left: 50%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: white;
}
#news-section .news-container .news-card:nth-of-type(1) {
  border-top-left-radius: 0px;
}
#news-section .news-container .news-card {
  width: 570px;
  padding: 1%;
  display: grid;
  grid-template-rows: 54% 46%;
  border: 2px solid #000000;
  border-radius: 9px;
}
#news-section .news-container .news-card .news-card-info {
  display: grid;
  grid-template-rows: 35% 35% 10% 20%;
  text-align: left;
}
#news-section .news-container .news-card .news-card-info .news-card-title {
  margin-top: 1%;
}
#news-section .news-container .news-card .news-card-info .news-card-title p {
  margin-bottom: 1%;
  color: #4D4D4D;
  text-transform: uppercase;
}
#news-section .news-container .news-card .news-card-info .news-card-title h2 {
  font-size: 36px;
}
#news-section .news-container .news-card .news-card-info .news-card-line {
  margin-top: 2.2%;
  height: 1%;
  background-color: #4D4D4D;
}
#news-section .news-container .news-card .news-card-info .news-card-tags-date {
  position: relative;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 70% 30%;
}
#news-section .news-container .news-card .news-card-info .news-card-tags-date .news-card-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#news-section .news-container .news-card .news-card-info .news-card-tags-date .news-card-tags img {
  margin-right: 3%;
}
#news-section .news-container .news-card .news-card-info .news-card-tags-date .news-card-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#news-section .news-container .news-card:nth-of-type(1) {
  -webkit-box-shadow: 10px 10px black;
          box-shadow: 10px 10px black;
}
#news-section .news-btn {
  top: 88%;
}

#app-advertisement {
  height: 900px;
  width: 100vw;
  background-color: #EDF3F7;
}
#app-advertisement .title-special-guest {
  position: relative;
  top: 7.3%;
  display: inline;
  padding: 0.3%;
  font-weight: 700;
  color: #CD4631;
  background-color: transparent;
  border: 1px solid #CD4631;
  border-radius: 6px;
}
#app-advertisement .app-section-title {
  position: absolute;
  left: 50%;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 59px;
  color: #000000;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  letter-spacing: -0.02em;
  top: 19%;
}
#app-advertisement .app-section-title span {
  display: block;
}
#app-advertisement .app-text-under-section-title {
  position: absolute;
  left: 50%;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 22px;
  color: #4D4D4D;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 37%;
}
#app-advertisement .app-btn {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#app-advertisement .app-platforms p {
  position: absolute;
  top: 71%;
  left: 50%;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 18px;
  color: #4D4D4D;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
#app-advertisement .app-platforms div {
  padding: 0.8% 3%;
  position: absolute;
  top: 73%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: transparent;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
#app-advertisement .app-platforms div button {
  margin-right: 13%;
  padding: 9%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#app-advertisement .app-platforms div button:nth-of-type(3) {
  margin-right: 0px;
}/*# sourceMappingURL=main.css.map */