@import './_animations';
@import './_colors';
@import './_components';
@import './_@mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
}

.active {
    display: block;
}

header {
    height: 1650px;
    width: 100vw;
    padding: 2% 0 0;
    background-color: $main-color;
    text-align: center;

    nav {
        position: relative; 
        height: 9%;
        width: 79%;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
        
        .nav-logo {
            position: absolute;
            top: 50%;
            left: 0; 
            transform: translate(0, -50%);
        }
        
        .nav-menu {
            position: absolute;
            height: 45%;
            width: 30%;
            padding: 2% 0;
            top: 50%;
            left: 28%;
            display: flex;
            justify-content: space-around;
            background-color: transparent;
            transform: translate(-50%, -50%);
            
            .nav-menu-btn  {
                height: 140%;
                width: 26%;
                font-family: 'Montserrat Alternates', sans-serif;
                color: $pure-black;
                text-decoration: none;
                border-bottom-right-radius: 6px;
                transition: box-shadow .3s;
                cursor: pointer;
            }
            .more-menu-btn {
                position: relative;
                height: 140%;
                width: 26%;
                padding: 0 0 0 2.5%;
                background-color: transparent;
                border-top-right-radius: 6px;
                transition: box-shadow .3s;
                
                .more-btn {
                    padding: 4% 10% 2%;
                }
                button {
                    display: flex;
                    flex-direction: row;
                    background-color: transparent;
                    font-family: 'Montserrat Alternates', sans-serif;
                    font-size: 16px;
                    border: none;
                    border-radius: 6px;
                    cursor: pointer;
                }
                img {
                    margin-top: 2%;
                    margin-left: 5%;
                }
            }
            .more-menu-btn:hover {
                box-shadow: 2px -2px  $darker-main-color;
            }
            .nav-menu-btn:hover {
                box-shadow: 2px  2px $darker-main-color;
            } 
            .dropdown-content {
                position: absolute;
                display: none;
                width: 100%;
                padding-top: 10%;
                top: 82%;
                left: 0;
                background-color: transparent;
                border-bottom-right-radius: 6px;
                
                a {
                    display: block;
                    margin-bottom: 2%;
                    padding: 3% 3% 2%;
                    text-align: center;
                    text-decoration: none;
                    color: $pure-black;
                    transition: box-shadow .3s;
                } 
                a:hover {
                    box-shadow: 3px 0  0.1px -1px $darker-main-color;
                }
            } 
        }
        .nav-main-btns {
            position: absolute;
            height: 45%;
            width: 26%;
            top: 50%;
            right: -9%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transform: translate(-50%, -50%);
            
            .nav-main-btn {
                padding: 2% 5%;
                font-family: 'Montserrat Alternates', sans-serif;
                font-size: 80%;
                font-weight: 400;
                border: 2px solid $pure-black;
                border-radius: 8px;
                text-transform: uppercase;
                transition: transform .3s;
                cursor: pointer;
            }
            .nav-main-btn:nth-child(1) {
                color: $pure-black;
                background-color: transparent;
                text-decoration: none;
            }
            .nav-main-btn:nth-child(2) {
                color: $pure-white;
                background-color: $pure-black;
                box-shadow: 2px 2px $shadow-darker-btn;
            }
            .nav-main-btn:hover {
                transform: scale(1.1);
            }
        }
    }

    h1 {
        margin-top: 5%;
        font-size: 96px;
        font-weight: 700;

        span {
            display: block;
            color: $title-red;
        }
    }

    .header-short-description {
        margin-top: 3%;
        font-size: 16px;
        color: $dark-gray;

        span {
            display: block;
        }
    }
    .header-sub-btn {
        margin-top: 5%;
    }
    .hero-shape-swirl {
        position: absolute;
        top: 15%;
    }
    .hero-shape-stars {
        position: absolute;
        top: 39%;
        right: 0; 
    }
    .supported-platforms {
        width: 80%;
        margin: 3% auto 0;
        padding: 3% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top: 2px solid $dark-gray;
        border-bottom: 2px solid $dark-gray;
        
        .platforms {
            display: grid; 
            grid-template-columns: auto auto auto auto;
            text-align: center;

            p {
                display: flex;
                align-items: center; 
                font-size: 22px;
                font-weight: bold;
            }
        }
        .platform {
            display: flex;
            flex-direction: row;
        }
    }
}

#about {
    height: 1400px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: $pure-white;

    h2 span {
        display: block;  
    }

    .ideas-area {
        position: absolute;
        height: 30%;
        padding: 5px 5%;
        top: 25%;
        display: grid;
        grid-template-columns: auto auto;
        
        .idea {
            margin: 0 2.5px;
            padding: 10%;

            img {
                height: 60%;
                width: 58%;
            }
            p {
                margin-top: 6%;
            }
        }
    }
    .quote-area {
        position: absolute;
        height: 28%;
        width: 80%;
        top: 65%;
        left: 50%;
        background-color: $main-color;
        transform: translate(-50%);

        p {
            margin-top: 12%;
            font-family: 'Montserrat Alternates', sans-serif;
            font-size: 36px;
            font-weight: 700;
            line-height: 130%;
            span { 
                display: block;
            }
        }

        .quore-vectors {
            img:nth-child(1) {
                position: absolute;
                top: -17%;
                right: -4%;
            }
            img:nth-child(2) {
                position: absolute;
                top: 50%;
                left: -6%;
            }
            img:nth-child(3) {
                position: absolute;
                top: 14%;
                left: 50%;
                transform: translate(-50%);
            }
        }
        .quote-author {
            margin-top: 5.5%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1%;

            .author {
                display: flex;
                flex-direction: row;

                img {
                    margin-right: 6%;
                    border-radius: 50%;
                }
                .author-first-name {
                    margin-top: 16%;
                    font-size: 14px;
                    font-weight: 400;  
                } 
            }
        }       
    }
}

#user-opinions {
    height: 850px;
    width: 100vw;
    background-color: $alice-blue;
    
    img:nth-of-type(2) {
        position: absolute;
        top: 7.5%;
        left: 20%;
    }
    .opinions-container {
        height: 45%;
        width: 63%;
        top: 45%;
        
        .opinion {
            position: relative;
            height: 100%;
            width: 100%;
            padding: 11%;
            background-color: $pure-white;
            border-radius: 8px;
            
            .opinion-quotation {
                position: absolute;
                top: 16%;
                left: 5%;
            }
            .opinion-text {
                position: absolute;
                margin-top: 2%;
                width: 80%;
                left: 5%;
                text-align: left;
                font-family: 'Montserrat Alternates', sans-serif;
                font-size: 22px;
            }
            .user {
                position: relative;
                height: 50%;
                width: 60%;
                top: 90%;
                left: -7.5%;

                img:nth-of-type(1) {
                    @include user-element-style;
                    left: 0;
                    border-radius: 50%;      
                }
                img:nth-of-type(2) {
                    @include user-element-style;
                    left: 35%;
                }
                p {
                    @include user-element-style;
                    left: 18%;
                }
            }            
        }
    }
}

#benefits {
    height: 1340px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: $pure-white;
    
    .benefits-uniquely-scribble {
        position: absolute; 
        top: -2.5%;
        right: 18%;
    }
    .benefits-container {
        position: absolute;
        height: 55%;
        width: 100%;   
        padding: 2%;
        top: 27%;
        left: 50%;
        display: grid;
        grid-template-columns: repeat(3, 4fr);
        transform: translate(-50%, 0);
        gap: 1em;
       
        .benefit-card {
            display: grid;
            grid-template-rows: 50% 15% 35%;
            text-align: center;
            transition: box-shadow .5s, transform .5s;
            border-bottom-right-radius: 8px;
            
            .benefit-card-photo {
                display: flex;
                justify-content: center;
                align-items: center;
            }   
        }
        .benefit-card:hover {
            box-shadow: 5px 5px $shadow-blue;
            transform: scale(1.01);
        }
    }
    .benefits-btn {
        height: 4.5em;
        top: 87.5%;
    }
}

#episodes {
    position: relative;
    height: 1460px;
    width: 100vw;
    background-color: $main-color;

    .episodes-btn {
        top: 26.4%;
    }
    .episodes-sparkle {
        position: absolute;
        top: 11%;
        left: 84%;
    }
    .episodes-container {
        position: relative;
        height: 62.4%;
        width: 92%;
        top: 20%;
        left: 50%;
        display: grid;
        grid-template-columns: auto auto;
        justify-content:space-around;
        transform: translate(-50%, 0);

        .episode-card {
            position: relative;
            height: 249px;
            width: 570px;
            padding: 2%;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 84% 16%;
            background-color: $pure-white;
            border: 1px solid black;
            border-radius: 9px;
            
            .card-cover {
                display: grid;
                grid-template-columns: 30% 60%;

                .card-cover-image {
                    img {
                        border-radius: 10px;
                    }
                }
                .card-cover-items {
                    display: grid;
                    grid-template-columns: auto;
                    grid-template-rows: 47.5% 5% 47.5%;

                    .card-cover-title {
                        height: 70%;
                        width: 110%;
                        margin: 5% 0 10% 5.5%;
                        text-align: left;
                        p {
                            margin-bottom: 1.5%;
                            font-weight: 700;
                            color: $title-red;
                        }
                    }
                    .card-cover-text {
                        width: 110%;
                        margin-left: 5.5%;
                        padding-top: 3%;
                        text-align: left;
                        color: $dark-gray;
                    }
                    .card-cover-line {
                        @include line-shared-style;
                        width: 110%;                
                        margin-left: 5.5%; 
                    }
                }
            }
            .card-info {
                display: grid;
                grid-template-columns: 65% 35%;
  
                .host-authors {
                    display: flex;
                    justify-content: right;
                    align-items: center;
                    flex-direction: row;
                    img { 
                        margin-left: 3%;
                    }
                }
                .tags {
                    display: flex;
                    justify-content: left;
                    img {
                        margin-right: 2%;
                    }
                }
            }
        }
    }
}

#become-sponsor {
    height: 1200px;
    width: 100vw;
    background-color: $pure-white;
    text-align: center;
    
    img:nth-child(1) {
        position: absolute;
        top: 6%;
        left: 23%;
    }
    img:nth-child(2) {
        position: absolute;
        top: 22.5%;
        right: .5%;
    }
    img:nth-child(3) {
        position: absolute;
        height: 80px;
        transform: rotate(50deg);
        top: 63%;
        left: 26.5%;
    }
    
    .sponsoring-offers {
        position: relative;
        height: 80%;
        width: 100%;
        padding: 5% 0;
        top: 19%;
        left: 50%;
        display: grid;
        grid-template-columns: repeat(3, 4fr);
        column-gap: 3%;
        transform: translate(-50%, 0);
        
        .offer-card {
            position: relative;
            height: 100%;
            display: grid;
            grid-template-rows: 57% 43%;

            .offer-info {
                margin-bottom: 8.5%;
                padding: 10% 10% 13% 10%;
                display: grid;
                grid-template-rows: 30% 30% 40%;
                text-align: left;
                border-radius: 9px;
                border: 2px solid $pure-black;

                p {
                    font-size: 14px;
                }
                h2 {
                    font-size: 36px;
                }
                .subscription {
                    display: grid;
                    grid-template-columns: 60% 40%;

                    .sponsoring-btn {
                        button {
                            margin-top: 35%;
                            padding: 10% 20%;
                            justify-content: left;
                        }
                    }
                    .price {
                        padding-top: 59%;
                        text-align: right;
                    } 
                }
            }
            .sponsoring-benefits {
                padding: 10%;
                text-align: left;
                border: 2px solid $pure-black;
                border-radius: 9px;
                p {
                    margin-bottom: 10%;
                    font-size: 14px;
                    color: $dark-gray;
                }
                .sponsoring-benefits-list {
                    padding-left: 5.5%;
                    li {
                        margin-bottom: 6%;
                        font-size: 16px;
                        span {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        .offer-special {
            .offer-info {
                border: 2px solid $title-red;
                background-color: $main-color;

                .offer-info-special {
                    position: absolute;
                    padding: 1%;
                    top: 7.5%;
                    right: 10.7%;
                    text-transform: uppercase;
                    color: $pure-white;
                    background-color: $title-red;
                    border-radius: 3px;   
                }
            }
            .sponsoring-benefits {
                background-color: $main-color;
                border: 2px solid $title-red;
            }
        }
    }
}

#news-section {
    height: 1300px;
    width: 100vw;
    background-color: $pure-white;


    .news-container {
        position: relative;
        height: 670px;
        width: 91%;
        top: 24%;
        left: 50%;
        display: grid;
        grid-template-columns: repeat(2, 6fr);
        column-gap: 2%;
        transform: translate(-50%, 0);
        
        .news-card {
            padding: 3%;
            display: grid;
            grid-template-rows: 54% 46%;
            border: 2px solid $pure-black;
            border-radius: 9px;

            .news-card-info {
                display: grid;
                grid-template-rows: 35% 35% 10% 20%;
                text-align: left;

                .news-card-title {
                    margin-top: 1%;
                    p {
                        margin-bottom: 1%;
                        color:$dark-gray;
                        text-transform: uppercase;
                    }
                    h2 {
                        font-size: 36px;
                    }
                }

                .news-card-line {
                    margin-top: 2.2%;
                    @include line-shared-style;
                }
                .news-card-tags-date {
                    position: relative;
                    margin-top: 5%;
                    display: grid;
                    grid-template-columns: 70% 30%;

                    .news-card-tags {
                        display: flex;
                        justify-content:left;
                        align-items:flex-end;

                        img {
                            margin-right: 3%;
                        }
                    }
                    .news-card-date {
                        display: flex;
                        justify-content: right;
                        align-items: flex-end;  
                    }  
                }
            }
        }
    }
    .news-btn {
        top: 33%;
    }
}




