@import './_animations';
@import './_colors';
@import './_components';
@import './_@mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
}

.active {
    display: block;
}

header {
    height: 1650px;
    width: 100vw;
    padding: 2% 0 0;
    background-color: $main-color;
    text-align: center;

    nav {
        position: relative; 
        height: 9%;
        width: 79%;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
        
        .nav-logo {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 0; 
        }
        
        .nav-menu {
            position: absolute;
            height: 45%;
            width: 30%;
            padding: 2% 0;
            display: flex;
            justify-content: space-around;
            left: 28%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            
            .nav-menu-btn  {
                height: 140%;
                width: 26%;
                font-family: 'Montserrat Alternates', sans-serif;
                color: $pure-black;
                cursor: pointer;
                border-bottom-right-radius: 6px;
                text-decoration: none;
                transition: box-shadow .3s;
            }
            .more-menu-btn {
                position: relative;
                height: 140%;
                width: 26%;
                padding: 0 0 0 2.5%;
                border-top-right-radius: 6px;
                transition: box-shadow .3s;
                background-color: transparent;
                
                .more-btn {
                    padding: 4% 10% 2%;
                }
                button {
                    font-family: 'Montserrat Alternates', sans-serif;
                    font-size: 16px;
                    display: flex;
                    flex-direction: row;
                    background-color: transparent;
                    cursor: pointer;
                    border: none;
                    border-radius: 6px;
                }
                img {
                    margin-top: 2%;
                    margin-left: 5%;
                }
            }
            .more-menu-btn:hover {
                box-shadow: 2px -2px  $darker-main-color;
            }
            .nav-menu-btn:hover {
                box-shadow: 2px  2px $darker-main-color;
            } 
       
            .dropdown-content {
                position: absolute;
                display: none;
                width: 100%;
                padding-top: 10%;
                top: 82%;
                left: 0;
                background-color: transparent;
                border-bottom-right-radius: 6px;
                
                a {
                    display: block;
                    margin-bottom: 2%;
                    padding: 3% 3% 2%;
                    text-align: center;
                    text-decoration: none;
                    color: $pure-black;
                    transition: box-shadow .3s;
                } 
                a:hover {
                    box-shadow: 3px 0  0.1px -1px $darker-main-color;
                }
            }
            
        }
        .nav-main-btns {
            position: absolute;
            height: 45%;
            width: 26%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            top: 50%;
            right: -9%;
            transform: translate(-50%, -50%);
            
            .nav-main-btn {
                padding: 2% 5%;
                font-family: 'Montserrat Alternates', sans-serif;
                font-size: 80%;
                font-weight: 400;
                border: 2px solid $pure-black;
                border-radius: 8px;
                cursor: pointer;
                text-transform: uppercase;
                transition: transform .3s;
            }
            .nav-main-btn:nth-child(1) {
                background-color: transparent;
                text-decoration: none;
                color: $pure-black;
            }
            .nav-main-btn:nth-child(2) {
                color: $pure-white;
                background-color: $pure-black;
                box-shadow: 2px 2px $shadow-darker-btn;
            }
            .nav-main-btn:hover {
                transform: scale(1.1);
            }
        }
    }

    h1 {
        margin-top: 5%;
        font-size: 96px;
        font-weight: 700;

        span {
            display: block;
            color: $title-red;
        }
    }

    .header-short-description {
        margin-top: 3%;
        font-size: 16px;
        color: $dark-gray;

        span {
            display: block;
        }
    }
    .header-sub-btn {
        margin-top: 5%;
    }
    .hero-shape-swirl {
        position: absolute;
        top: 15%;
    }
    .hero-shape-stars {
        position: absolute;
        top: 39%;
        right: 0;
        
    }

    .supported-platforms {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        margin: 3% auto 0;
        padding: 3% 0;
        border-top: 2px solid $dark-gray;
        border-bottom: 2px solid $dark-gray;
        
        .platforms {
            display: grid; 
            grid-template-columns: auto auto auto auto;
            text-align: center;

            p {
                display: flex;
                align-items: center; 
                font-size: 22px;
                font-weight: bold;
            }
        }
        .platform {
            display: flex;
            flex-direction: row;
        }
    }
}

#about {
    height: 1400px;
    width: 100vw;
    background-color: $pure-white;
    display: flex;
    justify-content: center;

    h2 span {
        display: block;  
    }

    .ideas-area {
        position: absolute;
        display: grid;
        grid-template-columns: auto auto;
        height: 30%;
        top: 25%;
        padding: 5px 5%;
        
        .idea {
            margin: 0 2.5px;
            padding: 10%;

            img {
                height: 60%;
                width: 58%;
            }
            p {
                margin-top: 6%;
            }
        }
    }

    .quote-area {
        position: absolute;
        height: 28%;
        width: 80%;
        top: 65%;
        left: 50%;
        background-color: $main-color;
        transform: translate(-50%);

        p {
            margin-top: 12%;
            font-family: 'Montserrat Alternates', sans-serif;
            font-size: 36px;
            font-weight: 700;
            line-height: 130%;
            span { 
                display: block;
            }
        }

        .quore-vectors {
            img:nth-child(1) {
                position: absolute;
                top: -17%;
                right: -4%;
            }
            img:nth-child(2) {
                position: absolute;
                top: 50%;
                left: -6%;
            }
            img:nth-child(3) {
                position: absolute;
                top: 14%;
                left: 50%;
                transform: translate(-50%);
            }
        }

        .quote-author {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5.5%;
            gap: 1%;

            .author {
                display: flex;
                flex-direction: row;

                img {
                    margin-right: 6%;
                    border-radius: 50%;
                }
                .author-first-name {
                    margin-top: 16%;
                    font-size: 14px;
                    font-weight: 400;  
                } 
            }
        }       
    }
}

#user-opinions {
    height: 850px;
    width: 100vw;
    background-color: $alice-blue;
    
     img:nth-of-type(2) {
        position: absolute;
        top: 7.5%;
        left: 20%;
    }

    .opinions-container {
        height: 45%;
        width: 63%;
        top: 45%;
        
        .opinion {
            position: relative;
            height: 100%;
            width: 100%;
            padding: 11%;
            background-color: $pure-white;
            border-radius: 8px;
            
            .opinion-quotation {
                position: absolute;
                top: 16%;
                left: 5%;
            }
            .opinion-text {
                position: absolute;
                margin-top: 2%;
                font-family: 'Montserrat Alternates', sans-serif;
                font-size: 22px;
                width: 80%;
                left: 5%;
                text-align: left;
            }
            .user {
                position: relative;
                height: 50%;
                width: 60%;
                top: 90%;
                left: -7.5%;

                img:nth-of-type(1) {
                    @include user-element-style;
                    left: 0;
                    border-radius: 50%;      
                }
                img:nth-of-type(2) {
                    @include user-element-style;
                    left: 35%;
                }
                p {
                    @include user-element-style;
                    left: 18%;
                }
            }            
        }
    }
}

#benefits {
    height: 1400px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: $pure-white;
    
    .benefits-uniquely-scribble {
        position: absolute; 
        top: -2.5%;
        right: 18%;
    }

    .benefits-container {
        position: absolute;
        height: 55%;
        width: 90%;
        padding: .5%;
        top: 24%;
        left: 50%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: transparent;
        transform: translate( -50%, 0);
        gap: 1%;

        .benefit-card {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 50% 15% 35%;
            background-color: transparent;
            text-align: center;
            
            .benefit-card-photo {
                display: flex;
                justify-content: center;
                align-items: center;
            }   
        }
    }
    .benefits-btn {
        top: 87.5%;
    }
}

