.btn-special-animation {
    position: relative;
    transition: background-color .3s;
    overflow: hidden;
    z-index: 0;

    &::before {
        position: absolute;
        display: block;
        content: '';
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transform: scaleX(0); 
        transform-origin: right;
        transition: transform .3s;
        z-index: -1;
        background-color: rgba(26, 25, 25, 0.666);
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }
}

@keyframes rotate-right {
    from {
        transform: rotate(0);
    }
    
    to {
        transform: rotate(360deg);
    }
}

@keyframes tremble-movment {
    0% {
        transform: scale(1.05);
    }
    10% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.05);
    }
    30% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.05);
    }
    70% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.05);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}


