$main-color: #F7EDE8;
$darker-main-color: #eec1ab;
$pure-white: #ffffff;
$pure-black: #000000;
$dark-gray: #4D4D4D;
$title-red: #CD4631;
$alice-blue: #EDF3F7;
$shadow-blue: #81ADC8;

$shadow-darker-btn: rgba(0, 0, 0, 0.25);

