@media (min-width: 376px) {
    .section {
        position: relative;
        padding: 5%;
        text-align: center;
    }
    .darker-btn {
        height: 30px;
        padding: 1% 5%;
        font-family: mainRegularFont, sans-serif;
        font-size: 8px;
        background-color: $pure-black;
        color: $pure-white;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        text-transform: uppercase;
        box-shadow: 6px 6px 0px $shadow-darker-btn;
    }
    .card-platforms {
        position: absolute;
        top: 3%;

        img {
            height: 1em;
            width: 1em;
        }
    }
    .splide {
        margin-top: 1%;
        padding: 13%;
    }
    .splide__slide {
        opacity: 0.6;
    
        .card {
            img {
                height: 140px;
                width: 140px;  
            } 
            .card-title {
                position: relative;
                top: -25px;
                font-size: 14px;
                font-family: mainRegularFont, sans-serif;
                color: $shadow-blue;
            }
            .vectors-first, .vectors-second, .vectors-third, .vectors-fourth, .vectors-fifth {
                display: none;
            }
            .card-platforms {
                img {
                    height: 60%;
                    width: 60%;
                }
                position: absolute;
                top: 1%;
                right: -9%;
            }
        }
    }
    .splide__slide.is-active {
        opacity: 1;
    }
    .scribble {
        height: 70px;
        width: 70px ;
        position: absolute;
        top: -36px;
        left: 50%;
        transform: translate(-50%,0);
        z-index: 1;
    }
    .section-title {
        position: absolute;
        top: 60px;
        left: 50%;
        font-family: mainBoldFont, sans-serif;
        font-size: 22px;
        color: $pure-black;
        transform: translate(-50%);
        letter-spacing: -0.02em;
    }
    .text-under-section-title {
        position: absolute;
        display: block;
        top: 120px;
        left: 50%;
        font-family: mainRegularFont, sans-serif;
        font-size: 10px;
        color: $dark-gray;
        transform: translate(-50%);
    }
    .episode-card-shadow {
        box-shadow: 10px 10px $shadow-blue;
    }
    .red-title {
        font-size: 13px;
        color: $title-red;
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 500px) {
    .scribble {
        height: 85px;
        width: 80px;
        top: -44px;
    }
    .section-title {
        top: 60px;
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 576px) {
    .darker-btn {
        height: 40px;
        font-size: 10px;
    }
    .splide {
        margin-top: 6%;
        padding: 11%;
    }
    .splide__slide {
        .card {
            img {
                height: 193px;
                width: 187px;  
            } 
            .card-title {
                top: -30px;
                font-size: 16px;
                font-family: mainRegularFont, sans-serif;
            }
            .card-platforms {
                right: -6%;
            }
        }
    }
    .section-title {
        font-size: 33px;
    }
    .text-under-section-title {
        top: 150px;
        font-size: 14px;
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 786px) {
    .scribble {
        height: 90px;
        width: 85px;
        top: -46px;
    }
    .splide {
        margin-top: 5%;
        padding: 8%;
    }
    .darker-btn {
        height: 50px;
        font-size: 10px;
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 992px) {
    .darker-btn {
        height: 80px;
        font-size: 1em;
        border-radius: 8px;
    }
    .splide {
        padding: 7%;
    }
    .splide__slide {
        .card {
            img {
                height: 215px;
                width: 215px;  
            } 
            .card-title {
                top: -30px;
                font-size: 16px;
            }
            .card-platforms {
                right: -6%;
            }
        }
    }
    .scribble {
        height: 105px;
        width: 93px;
        top: -53px;
    }
    .section-title {
        top: 77px;
        font-size: 46px;
    }
    .text-under-section-title {
        top: 150px;
        font-size: 18px;
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 1200px) {
    .card-platforms {
        position: absolute;
        top: 3%;
        img {
            height: 1em ;
            width: 1em ;
        }
    }
    .scribble {
        height: 125px;
        width: 96px;
        top: -64px;
    }
    .splide {
        padding: 6%;
    }
    .splide__slide {
        .card {
            img {
                height: 375px;
                width: 375px;  
            } 
            .card-title {
                top: -54px;
                font-size: 36px;
            }
            .vectors-first {
                display: block;
                img {
                    height: 210%;
                    width: 210%;
                }
                position: absolute;
                top: 17%;
                left: 15%;
            }
            .vectors-second {
                display: block;
                img {
                    height: 99%;
                    width: 99%;
                }
                position: absolute;
                top: 12%;
                right: 17%;
            }
            .vectors-third {
                display: block;
                img {
                    height: 99%;
                    width: 99%;
                }
                position: absolute;
                top: 28%;
                left: 29%;
            }
            .vectors-fourth {
                display: block;
                img {
                    height: 96%;
                    width: 96%;
                }
                position: absolute;
                top: 2%;
            }
            .vectors-fifth {
                display: block;
                img {
                    height: 200%;
                    width: 200%;
                }
                position: absolute;
                top: 33%;
                left: 6%;
            }
            .card-platforms {
                img {
                    height: 100%;
                    width: 100%;
                }
                position: absolute;
                top: 4%;
                right: 4%;
            }
        }
    }
    .section-title {
        position: absolute;
        top: 140px;
        left: 50%;
        font-size: 59px;
        color: $pure-black;
        transform: translate(-50%);
        letter-spacing: -0.02em;
    }
    .text-under-section-title {
        top: 240px;
        font-size: 22px;
    }
}