@font-face {
    font-family: mainThinFont;
    src: url(../fonts/MontserratAlternates-Thin.ttf);
}

@font-face {
    font-family: mainRegularFont;
    src: url(../fonts/MontserratAlternates-Regular.ttf);
}

@font-face {
    font-family: mainBoldFont;
    src: url(../fonts/MontserratAlternates-Bold.ttf);
}

