@media (min-width: 376px) {
    #become-sponsor {
        height: 1370px;
        width: 100vw;
        background-color: $pure-white;
        
        img:nth-child(1) {
            position: absolute;
            width: 60px;
            top: 1.7%;
            left: 22%;
        }
        img:nth-child(2) {
            position: absolute;
            width: 50px;
            top: 33%;
            right: 10%;
            @include animation-add-rotate-rigth;
            animation-duration: 50s;
        }
        img:nth-child(3) {
            position: absolute;
            height: 80px;
            transform: rotate(50deg);
            top: 63.5%;
            left: -2%;
        }
        .sponsoring-offers {
            position: relative;
            top: 160px;
            left: 50%;
            display: grid;
            grid-template-columns: auto;
            transform: translate(-50%, 0);
            
            .offer-card {
                position: relative;
                height: 350px;
                margin-bottom: 10%;
                display: grid;
                grid-template-rows: 57% 43%;
    
                .offer-info {
                    margin-bottom: 1%;
                    padding: 5% 5% 7% 5%;
                    display: grid;
                    grid-template-rows: 30% 30% 40%;
                    text-align: left;
                    border-radius: 9px;
                    border: 2px solid $pure-black;
    
                    p {
                        font-size: 13px;
                        line-height: 18px;
                    }
                    h2 {
                        font-size: 20px;
                        font-family: mainBoldFont, sans-serif;
                    }
                    .subscription {
                        display: grid;
                        grid-template-columns: 60% 40%;
    
                        .sponsoring-btn {
                            button {
                                margin-top: 20%;
                                padding: 1% 10%;
                            }
                        }
                        .price {
                            padding-top: 27%;
                            text-align: right;
                        } 
                    }
                }
                .sponsoring-benefits {
                    padding: 5%;
                    text-align: left;
                    border: 2px solid $pure-black;
                    border-radius: 9px;
                    p {
                        margin-bottom: 4%;
                        font-size: 12px;
                        color: $dark-gray;
                    }
                    .sponsoring-benefits-list {
                        padding-left: 5.5%;
                        li {
                            margin-bottom: 2%;
                            font-size: 11px;
                            span {
                                font-family: mainBoldFont, sans-serif;
                            }
                        }
                    }
                }
            }
            .offer-special {
                .offer-info {
                    border: 2px solid $title-red;
                    background-color: $main-color;
    
                    .offer-info-special {
                        position: absolute;
                        padding: 1%;
                        top: 5.2%;
                        right: 15%;
                        text-transform: uppercase;
                        color: $pure-white;
                        background-color: $title-red;
                        border-radius: 3px;   
                    }
                }
                .sponsoring-benefits {
                    background-color: $main-color;
                    border: 2px solid $title-red;
                }
            }
        }
    } 
}
// --------------------------------------------------------------------------------------

@media (min-width: 410px) {
    #become-sponsor {
        img:nth-child(1) {
            left: 24%;
        }
        .sponsoring-offers {
            .offer-card {
                .offer-info {
                    margin-bottom: 1%;
                    padding: 5% 5% 7% 5%;
                }
            }
            .offer-special {
                .offer-info {
                    .offer-info-special {
                        padding: 1%;
                        top: 5.2%;
                        right: 15%;  
                    }
                }
                .sponsoring-benefits {
                    background-color: $main-color;
                    border: 2px solid $title-red;
                }
            }
        }
    } 
}
// --------------------------------------------------------------------------------------

@media (min-width: 425px) {
    #become-sponsor {
        height: 1440px;

        img:nth-child(2) {
            width: 50px;
            top: 33%;
            right: 7%;
        }
        img:nth-child(3) {
            top: 62%;
        }
        .sponsoring-offers {
            .offer-card {
                height: 370px;

                .sponsoring-benefits {
                    p {
                        margin-bottom: 3%;
                        font-size: 12px;
                    }
                }
            }
        }
    } 
}
// --------------------------------------------------------------------------------------

@media (min-width: 462px) {
    #become-sponsor {
        img:nth-child(1) {
            left: 16%;
        }
        .sponsoring-offers {
            top: 130px;

            .offer-card {
                height: 380px;
            }
        }
        .text-under-section-title {
            top: 95px;
        }
    } 
}
// --------------------------------------------------------------------------------------

@media (min-width: 490px) {
    #become-sponsor {
        height: 1460px;
        
        img:nth-child(1) {
            left: 18%;
        }
        img:nth-child(2) {
            top: 31%;
            right: 9%;
        }
        .sponsoring-offers {
            .offer-card {
                .sponsoring-benefits {
                    padding: 4%;
                    p {
                        margin-bottom: 3%;
                        font-size: 12px;
                    }
                }
            }
            .offer-special {
                .offer-info {
                    .offer-info-special {
                        padding: 1%;
                        top: 6.5%;
                        right: 15%;  
                    }
                }
            }
        }
    } 
}
// --------------------------------------------------------------------------------------

@media (min-width: 520px) {
    #become-sponsor {
        height: 1430px;
        
        img:nth-child(1) {
            left: 20%;
        }
        .sponsoring-offers {
            .offer-card {
                height: 365px;

                .sponsoring-benefits {
                    p {
                        margin-bottom: 3%;
                        font-size: 12px;
                    }
                    .sponsoring-benefits-list {
                        li {
                            margin-bottom: 1.5%;
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    } 
}
// --------------------------------------------------------------------------------------

@media (min-width: 576px) {
    #become-sponsor {
        height: 1820px;
        
        img:nth-child(1) {
            top: 1.4%;
            left: 26%;
        }
        img:nth-child(2) {
            width: 55px;
            top: 34.3%;
        }
        img:nth-child(3) {
            height: 84px;
            top: 65.5%;
        }
        .sponsoring-offers {
            top: 200px;
            .offer-card {
                height: 470px;

                .offer-info {
                    p {
                        font-size: 14px;
                        line-height: 20px;
                    }
                    h2 {
                        font-size: 28px;
                    }
                    .subscription {
                        .sponsoring-btn {
                            button {
                                padding: 1% 11%;
                            } 
                        }
                        .price {
                            padding-top: 26%;
                        } 
                    }
                }
                .sponsoring-benefits {
                    p {
                        font-size: 14px;
                    }
                    .sponsoring-benefits-list {
                        li {
                            font-size: 12.5px;
                        }
                    }
                }
            }
        }
        .text-under-section-title {
            top: 150px;
        }
    } 
}
// --------------------------------------------------------------------------------------

@media (min-width: 620px) {
    #become-sponsor {
        height: 1830px;

        img:nth-child(1) {
            left: 27%;
        }
        .sponsoring-offers {
            .offer-card {
                .offer-info {
                    .subscription {
                        .price {
                            padding-top: 27%;
                        } 
                    }
                }
                .sponsoring-benefits {
                    p {
                        font-size: 14px;
                    }
                    .sponsoring-benefits-list {
                        li {
                            font-size: 12.5px;
                        }
                    }
                }
            }
        }
    } 
}
// --------------------------------------------------------------------------------------

@media (min-width: 692px) {
    #become-sponsor {
        height: 1800px;
        
        img:nth-child(1) {
            top: 1.2%;
            left: 19%;
        }
        img:nth-child(2) {
            top: 31%;
        }
        img:nth-child(3) {
            top: 63%;
        }
        .sponsoring-offers {
            top: 160px;
        }
        .text-under-section-title {
            top: 110px;
        }
    } 
}
// --------------------------------------------------------------------------------------

@media (min-width: 740px) {
    #become-sponsor {
        height: 1820px;
        
        img:nth-child(1) {
            left: 21%;
        }
    } 
}
// --------------------------------------------------------------------------------------

@media (min-width: 786px) {
    #become-sponsor {
        height: 1790px;
        
        img:nth-child(1) {
            left: 23%;
        }
        img:nth-child(2) {
            top: 32%;
            right: 9%;
        }
        img:nth-child(3) {
            top: 64%;
            left: 2%;
        }
        .sponsoring-offers {
            .offer-card {
                width: 706px;
                left: 50%;
                transform: translate(-50%, 0);
                margin-bottom: 7%;

                .offer-info {
                    .subscription {
                        .sponsoring-btn {
                            button {
                                margin-top: 8%;
                            } 
                        }
                        .price {
                            margin-top: -7%;
                        }
                    }
                }
            }
        }
    } 
}
// --------------------------------------------------------------------------------------

@media (min-width: 830px) {
    #become-sponsor { 
        img:nth-child(1) {
            left: 24%;
        }
        img:nth-child(2) {
            top: 32.5%;
            right: 11%;
        }
        img:nth-child(3) {
            top: 65%;
            left: 4%;
        }
    } 
}
// --------------------------------------------------------------------------------------

@media (min-width: 880px) {
    #become-sponsor {
        height: 1800px;
        
        img:nth-child(1) {
            left: 26%;
        }
        img:nth-child(2) {
            right: 13.5%;
        }
        img:nth-child(3) {
            top: 65%;
            left: 6%;
        }
    } 
}
// --------------------------------------------------------------------------------------

@media (min-width: 940px) {
    #become-sponsor {
        height: 1810px;
        
        img:nth-child(1) {
            left: 27%;
        }
        img:nth-child(2) {
            right: 15%;
        }
        img:nth-child(3) {
            top: 65%;
            left: 9%;
        }
    } 
}
// --------------------------------------------------------------------------------------

@media (min-width: 992px) {
    #become-sponsor {
        height: 850px;
        
        img:nth-child(1) {
            width: 80px;
            top: 4%;
            left: 20.5%;
        }
        img:nth-child(2) {
            top: 30%;
            right: 4.5%;
        }
        img:nth-child(3) {
            top: 81%;
            left: 30%;
        }
        .sponsoring-offers {
            height: 67%;
            width: 105%;
            top: 190px;
            grid-template-columns: repeat(3, 4fr);
            column-gap: 2%;

            .offer-card {
                height: 100%;
                width: 100%;

                .offer-info {
                    margin-bottom: 1%;
                    padding: 5% 5% 7% 5%;
    
                    p {
                        font-size: 15px;
                        line-height: 22px;
                    }
                    h2 {
                        font-size: 32px;
                    }
                    .subscription {
                        .sponsoring-btn {
                            button {
                                height: 60px;
                                margin-top: 25%;
                                padding: 1% 17%;
                                font-size: 14px;
                            } 
                        }
                        .price {
                            margin-top: 22%;

                            h3 {
                                font-size: 15px;
                            }
                        }
                    }
                }
                .sponsoring-benefits {
                    padding: 7%;
                    p {
                        margin-bottom: 6%;
                        font-size: 15px;
                    }
                    .sponsoring-benefits-list {
                        li {
                            margin-bottom: 3%;
                            font-size: 14px;
                        }
                    }
                }
            }
            .offer-special {
                .offer-info {
                    .offer-info-special {
                        top: 4.5%;
                        right: 6%;  
                    }
                }
            }
        }
        .text-under-section-title {
            top: 150px;
        }
    } 
}
// --------------------------------------------------------------------------------------

@media (min-width: 1050px) {
    #become-sponsor {
        img:nth-child(1) {
            left: 22%;
        }
        img:nth-child(2) {
            right: 4.5%;
        }
    } 
}
// --------------------------------------------------------------------------------------

@media (min-width: 1100px) {
    #become-sponsor {
        img:nth-child(1) {
            left: 23.5%;
        }
        .sponsoring-offers {
            .offer-card {
                .offer-info {
                    .subscription {
                        .sponsoring-btn {
                            button {
                                margin-top: 24%;
                            } 
                        }
                    }
                }
            }
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 1150px) {
    #become-sponsor {
        height: 850px;
        
        img:nth-child(1) {
            left: 24%;
        }
        img:nth-child(2) {
            top: 32%;
            right: 5%;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 1200px) {
    #become-sponsor {
        height: 1280px;

        img:nth-child(1) {
            width: 100px;
            top: 7%;
            left: 29.5%;
        }
        img:nth-child(2) {
            width: 60px;
            top: 35.5%;
            right: 7%;
        }
        img:nth-child(3) {
            height: 100px;
            top: 81%;
            left: 31%;
        }
        .sponsoring-offers {
            height: 55%;
            width: 100%;
            top: 370px;

            .offer-card {
                .offer-info {
                    margin-bottom: 7%;
                    padding: 8%;
                    p {
                        font-size: 16px;
                    }
                    h2 {
                        font-size: 36px;
                    }
                    .subscription {
                        .sponsoring-btn {
                            button {
                                margin-top: 35%;
                                padding: 1% 20%;
                                font-size: 14px;
                            }
                        }
                        .price {
                            margin-top: 39%; 
                            h3 {
                                font-size: 18px;
                            }
                        } 
                    }
                }
                .sponsoring-benefits {
                    padding: 10%;
                    p {
                        margin-bottom: 10%;
                        font-size: 14px;
                    }
                    .sponsoring-benefits-list {
                        li {
                            margin-bottom: 6%;
                            font-size: 16px;
                        }
                    }
                }
            }
            .offer-special {
                .offer-info {
                    .offer-info-special {
                        padding: 1.5%;
                        top: 6%;
                    }
                }
            }
        }
        .text-under-section-title {
            top: 300px;
        }
    }   
}
// --------------------------------------------------------------------------------------

@media (min-width: 1238px) {
    #become-sponsor {
        height: 1200px;

        img:nth-child(1) {
            top: 6%;
            left: 19%;
        }
        img:nth-child(2) {
            top: 34%;
        }
        .sponsoring-offers {
            top: 320px;
        }

        .text-under-section-title {
            top: 240px;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 1300px) {
    #become-sponsor {
        height: 1220px;

        img:nth-child(1) {
            top: 6.5%;
            left: 21%;
        }
        img:nth-child(2) {
            top: 34%;
            right: 7.3%;
        }
        img:nth-child(3) {
            top: 78%;
        }
    }   
}
// --------------------------------------------------------------------------------------

@media (min-width: 1350px) {
    #become-sponsor {
        height: 1240px;
    }   
}
// --------------------------------------------------------------------------------------

@media (min-width: 1400px) {
    #become-sponsor {
        img:nth-child(1) {
            left: 23%;
        }
        img:nth-child(2) {
            top: 35%;
            right: 7%;
        }
        img:nth-child(3) {
            top: 82%;
        }
        .sponsoring-offers {
            .offer-card {
                .offer-info {
                    p {
                        line-height: 25px;
                    }
                }
            }
        }     
    }   
}
// --------------------------------------------------------------------------------------

@media (min-width: 1450px) {
    #become-sponsor {
        img:nth-child(1) {
            left: 24%;
        }
        img:nth-child(3) {
            top: 81%;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 1500px) {
    #become-sponsor {
        height: 1280px;

        img:nth-child(1) {
            top: 6.3%;
            left: 25%;
        }
        img:nth-child(2) {
            top: 33%;
        }
        img:nth-child(3) {
            top: 76%;
        }
        .sponsoring-offers {
            .offer-card {
                .offer-info {
                    .subscription {
                        .sponsoring-btn {
                            button {
                                margin-top: 26%;
                            }
                        }
                        .price {
                            margin-top: 25%;
                        } 
                    }
                }
            }
        }
    }   
}
// --------------------------------------------------------------------------------------

@media (min-width: 1600px) {
    #become-sponsor {
        img:nth-child(1) {
            left: 26.5%;
        }
        img:nth-child(2) {
            top: 34%;
        }
        img:nth-child(3) {
            top: 80%;
        }
    }  
}
// --------------------------------------------------------------------------------------

@media (min-width: 1700px) {
    #become-sponsor {
        height: 1320px;

        img:nth-child(1) {
            left: 28%;
        }
        img:nth-child(2) {
            top: 33%;
        }
    }  
}