@media (min-width: 376px) {
    #benefits {
        height: 710px;
        width: 100vw;
        display: flex;
        justify-content: center;
        background-color: $pure-white;
        
        .benefits-uniquely-scribble {
            position: absolute; 
            width: 22%;
            top: .5%;
            right: 20%;
        }
        .benefits-container {
            position: absolute;
            width: 90%;   
            top: 180px;
            left: 50%;
            display: grid;
            grid-template-columns: repeat(2, 6fr);
            transform: translate(-50%, 0);
            gap: 1.2em;
           
            .benefit-card {
                display: grid;
                grid-template-rows: 50% 15% 35%;
                text-align: center;
                transition: box-shadow .5s, transform .5s;
                border-bottom-right-radius: 8px;
                
                .benefit-card-photo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }  
                .benefit-title {
                    padding-top: 13%;
                    font-size: 11px;
                    font-family: mainBoldFont, sans-serif;
                }
                .benefit-text {
                    display: none;
                } 
            }
            .benefit-card:hover {
                box-shadow: 3px 3px $shadow-blue;
                transform: scale(1.01);
            }
        }
        .benefits-btn {
            height: 2.8em;
            height: 30px;
            top: 87.5%;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 420px) {
    #benefits {
        .benefits-uniquely-scribble {
            right: 22%;
            top: 0%;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 460px) {
    #benefits {
        .benefits-uniquely-scribble {
            top: -1%;
            right: 22%;
        }
       
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 489px) {
    #benefits {
        .benefits-uniquely-scribble {
            right: 15%;
        }
        .benefits-container {
            top: 160px;
        }
        .text-under-section-title {
            top: 95px;
        }
        .benefits-btn {
            top: 86%;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 500px) {
    #benefits {
        height: 750px;
        
        .benefits-btn {
            top: 83%;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 530px) {
    #benefits {
        .benefits-uniquely-scribble {
            top: -2%;
            right: 16%;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 576px) {
    #benefits {
        height: 800px;
        
        .benefits-uniquely-scribble {
            right: 22%;
        }
        .benefits-container {
            top: 220px;
            gap: 2em;
            .benefit-card {
                .benefit-title {
                    padding-top: 7%;
                    font-size: 13px;
                }
            }
        }
        .benefits-btn {
            height: 40px;
            top: 85%;
        }
        .text-under-section-title {
            top: 150px;
        }
    }
}// --------------------------------------------------------------------------------------

@media (min-width: 600px) {
    #benefits {
        .benefits-uniquely-scribble {
            top: -3%;
            right: 21%;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 690px) {
    #benefits {
        .benefits-uniquely-scribble {
            top: -4%;
        }
        .benefits-btn {
            top: 86%;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 734px) {
    #benefits {
        .benefits-uniquely-scribble {
            top: -5%;
            right: 15%;
        }
        .benefits-container {
            top: 190px;
        }
        .benefits-btn {
            height: 4.5em;
            top: 85%;
        }
        .text-under-section-title {
            top: 110px;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 786px) {
    #benefits {
        height: 900px;
        
        .benefits-uniquely-scribble {
            width: 18%;
            top: -3.1%;
            right: 19.5%;
        }
        .benefits-container {
            height: 55%;
            width: 90%;
            gap: 1.2em;
            .benefit-card {
                .benefit-text {
                    display: block;
                    margin-top: 7%;
                    font-size: 10px;
                } 
            }
        }
        .benefits-btn {
            height: 50px;
            top: 88%;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 840px) {
    #benefits {
        .benefits-uniquely-scribble {
            top: -3.5%;
            right: 21%;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 880px) {
    #benefits {
        .benefits-uniquely-scribble {
            width: 16%;
            top: -3.1%;
        }
        .benefits-container {
            top: 170px;
        }
        .benefits-btn {
            top: 87%;
            height: 5.1em;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 940px) {
    #benefits {
        .benefits-uniquely-scribble {
            top: -3.3%;
            right: 24%;
        }
        .benefits-btn {
            height: 5.4em;
            top: 88.5%;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 992px) {
    #benefits {
        height: 1160px;
        
        .benefits-uniquely-scribble {
            top: -2%;
            right: 26%;
        }
        .benefits-container {
            top: 270px;
            gap: 2em;

            .benefit-card {
                .benefit-title {
                    padding-top: 5%;
                    font-size: 18px;
                }
                .benefit-text {
                    font-size: 13px;
                } 
            }
        }
        .benefits-btn {
            height: 80px;
            top: 87%;
        }
        .text-under-section-title {
            top: 200px;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 1022px) {
    #benefits {
        .benefits-uniquely-scribble {
            top: -2%;
            right: 18%;
        }
        .benefits-container {
            top: 230px;
            gap: 2em;

            .benefit-card {
                .benefit-title {
                    padding-top: 5%;
                    font-size: 18px;
                }
                .benefit-text {
                    font-size: 13px;
                } 
            }
        }
        .benefits-btn {
            height: 80px;
            top: 87%;
        }
        .text-under-section-title {
            top: 150px;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 1100px) {
    #benefits {
        .benefits-uniquely-scribble {
            top: -3%;
            right: 20%;
        }
        .benefits-btn {
            top: 86%;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 1200px) {
    #benefits {
        height: 1440px;
        .benefits-uniquely-scribble {
            width: 18%;
            top: 0%;
            right: 23%;
        }
        .benefits-container {
            width: 95%;   
            top: 400px;
            display: grid;
            grid-template-columns: repeat(3, 4fr);
            gap: 1em;
           
            .benefit-card {
                .benefit-title {
                    padding-top: 1%;
                    font-size: 22px;                 
                }
                .benefit-text {
                    margin-top: -3%;
                    font-size: 16px;
                }   
            }
        }
        .benefits-btn {
            height: 80px;
            top: 88%;
        }
        .text-under-section-title {
            top: 300px;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 1250px) {
    #benefits {
        .benefits-uniquely-scribble {
            top: -1%;
            right: 24%;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 1311px) {
    #benefits {
        .benefits-uniquely-scribble {
            top: -1%;
            right: 16%;
        }
        .benefits-container { 
            top: 350px;
        }
        .text-under-section-title {
            top: 240px;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 1400px) {
    #benefits {
        .benefits-uniquely-scribble {
            top: -2%;
            right: 17%;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 1500px) {
    #benefits {
        .benefits-uniquely-scribble {
            top: -2.3%;
            right: 20%;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 1600px) {
    #benefits {
        .benefits-uniquely-scribble {
            top: -2.7%;
            right: 21%;
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 1700px) {
    #benefits {
        .benefits-uniquely-scribble {
            top: -3.5%;
            right: 22%;
        }
    }
}