@media (min-width: 376px) {

    header {
        height: 660px;
        width: 100vw;
        padding: 2% 0 0;
        background-color: $main-color;
        text-align: center;
    
        nav {
            position: relative; 
            height: 6%;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            background-color: transparent;
            
            .nav-logo {
                position: absolute;
                top: 50%; 
                left: 1%;
                transform: translate(0, -50%);
                img {
                    height: 40px;
                    width: 40px;
                }
            }
            .nav-menu {
                position: relative;
                height: 22px;
                width: 60px;
                top: 50%;
                left: 80.5%;
                transform: translate(0, -50%);

                .nav-menu-btn  {
                    display: none;
                }
                .more-menu-btn {
                    position: relative;
                    height: 22px;
                    width: 60px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top-right-radius: 6px;
                    transition: box-shadow .3s;
                    cursor: pointer;
                    
                    .more-btn {
                        position: relative;
                        height: 22px;
                        width: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                        font-family: 'Montserrat Alternates', sans-serif;
                        font-size: 11px;
                        color: $pure-black;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        
                        .nav-arrow-image {
                            margin-left: 5%;
                            height: 12px;
                            width: 12px;  
                        }
                        .nav-arrow-image.arrow-rotate {
                            transform: rotate(-180deg);
                        }
                        
                    }
                    .dropdown-content {
                        position: absolute;
                        display: none;
                        width: 100%;
                        margin-top: 12%;
                        top: 82%;
                        left: 0;
                        border-bottom-right-radius: 6px;
                        button {
                            width: 100%;
                            margin-bottom: 4%;
                            font-size: 11px;
                            font-family: 'Montserrat Alternates', sans-serif;
                            color: $pure-black;
                            background-color: transparent;
                            border: none;
                            transition: box-shadow .3s;
                            a {
                                padding: 3% 0;
                                display: block;
                                text-align: center;
                                text-decoration: none;
                                color: $pure-black;
                            }   
                        }
                        button:hover {
                            box-shadow: 3px 0  0.1px -1px $darker-main-color;
                        } 
                    } 
                    .dropdown-content.active {
                        display: block !important;
                    }  
                }
                .more-menu-btn:hover {
                    box-shadow: 2px -2px  $darker-main-color;
                }
                .nav-menu-btn:hover {
                    box-shadow: 2px  2px $darker-main-color;
                }    
            }
            .nav-main-btns {
               display: none;
            }
        }
        h1 {
            margin-top: 3%;
            font-family: 'Montserrat Alternates', sans-serif;
            font-size: 40px;
            font-weight: 700;

            span {
                display: block;
                color: $title-red;
            }
        }
        .header-short-description {
            margin-top: 3%;
            font-size: 10px;
            color: $dark-gray;
    
            span {
                display: block;
            }
        }
        .header-sub-btn {
            margin-top: 5%;
        }
        .hero-shape-swirl {
            position: absolute;
            top: 13%;
            right: 90%;

            img {
                height: 250%;
                width: 250%;
            }
        }
        .hero-shape-stars {
            position: absolute;
            top: 18%;
            right: -10%; 

            img {
                height: 50%;
                width: 50%;
            }
        }
        .supported-platforms {
            width: 90%;
            margin: 3% auto 0;
            padding: 3% 2% 3% 5%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-top: 2px solid $dark-gray;
            border-bottom: 2px solid $dark-gray;
            
            .platforms {
                display: grid; 
                grid-template-columns: auto auto auto auto;
                text-align: center;
    
                p {
                    display: flex;
                    align-items: center; 
                    font-size: 10px;
                    font-weight: bold;
                }
            }
            .platform {
                display: flex;
                flex-direction: row;

                .logo {
                    height: 90%;
                    width: 70%;
                } 
            }
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 430px) {
    header {
        height: 700px;

        .hero-shape-stars {
            top: 18%;
            right: -8%; 
        }

        nav {
            .nav-menu {
                left: 85%;
            }      
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 500px) {
    header {
        height: 790px;

        h1 {
            font-size: 54px;
        }  
        .supported-platforms {
            .platforms {
                p {
                    font-size: 12px;
                }
            }
        }    
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 540px) {
    header {
        height: 830px;   
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 576px) {
    header {
        height: 880px;

        nav {
            .nav-logo {
                img {
                    height: 50px;
                    width: 50px;
                }
            }
            .nav-menu {
                left: 88%;
                .more-menu-btn {
                    .more-btn {
                        font-size: 12px;
                    }
                    .dropdown-content {
                        button {
                        font-size: 12px;
                       }
                    }
                }
            }           
        }
        h1 {
            font-size: 62px;
        }  
        .header-short-description {
            margin-top: 3%;
            font-size: 12px;
        }
        .hero-shape-stars {
            position: absolute;
            top: 21%;
            right: -6%; 
        }
        .supported-platforms {
            .platform {
                .logo {
                    width: 66%;
                } 
            }
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 646px) {
    header {
        height: 930px;

        .supported-platforms {
            .platform {
                .logo {
                    height: 90%;
                    width: 70%;
                } 
            }
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 730px) {
    header {
        height: 980px;

        .hero-shape-stars {
            position: absolute;
            top: 21%;
            right: -2%; 

            img {
                height: 73%;
                width: 73%;
            }
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 786px) {
    header {
        height: 1040px;

        nav {
            .nav-logo {
                img {
                    height: 60px;
                    width: 60px;
                }
            }
            .nav-menu {
                left: 92%;
                .more-menu-btn {
                    .more-btn {
                        font-size: 13px;
                    }
                    .dropdown-content {
                        button {
                        font-size: 13px;
                       }
                    }

                }
            }           
        }
        h1 {
            font-size: 75px;
        }  
        .header-short-description {
            font-size: 13px;
        }
        .hero-shape-stars {
            right: -1%; 
        }
        .supported-platforms {
            .platforms {
                p {
                    font-size: 14px;
                }
                .platform {
                    .logo {
                        width: 55%;
                    }
                }
            }
        }   
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 866px) {
    header {
        height: 1100px; 
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 992px) {
    header {
        height: 1200px;
        nav {
            .nav-logo {
                img {
                    height: 80px;
                    width: 80px;
                }
            }
            .nav-menu {
                display: block;
                position: relative;
                height: 45%;
                width: 30%;
                top: 50%;
                left: 28%;
                display: grid;
                grid-template-columns: 33.3% 33.3% 33.3%;
                background-color: transparent;
                transform: translate(-50%, -50%);
                
                .nav-menu-btn  {
                    display: block;
                    position: relative;
                    height: 33px;
                    width: 90px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-family: 'Montserrat Alternates', sans-serif;
                    color: $pure-black;
                    background-color: transparent;
                    text-decoration: none;
                    border: none;
                    border-bottom-right-radius: 6px;
                    transition: box-shadow .3s;
                    cursor: pointer;
    
                    a {
                        position: relative;
                        padding: 3% 11%;
                        color: $pure-black;
                        text-decoration: none;
                    }  
                }
                .more-menu-btn {
                    height: 33px;
                    width: 82px;

                    .more-btn {
                        .nav-arrow-image {
                            margin-left: 10%;
                        }
                    }
                }
            }
            .nav-main-btns {
                position: absolute;
                height: 45%;
                width: 26%;
                top: 50%;
                right: -9%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transform: translate(-50%, -50%);
                
                .nav-main-btn {
                    padding: 2% 5%;
                    font-family: 'Montserrat Alternates', sans-serif;
                    font-size: 80%;
                    font-weight: 400;
                    border: 2px solid $pure-black;
                    border-radius: 8px;
                    text-transform: uppercase;
                    transition: transform .3s;
                    cursor: pointer;
                }
                .nav-main-btn:nth-child(1) {
                    margin-right: 10%;
                    color: $pure-black;
                    background-color: transparent;
                    text-decoration: none;
                    a {
                        height: 100%;
                        width: 100%;
                        text-decoration: none;
                        color: $pure-black;
                    }
                }
                .nav-main-btn:nth-child(2) {
                    padding: 4.8% 5%;
                    color: $pure-white;
                    background-color: $pure-black;
                    box-shadow: 2px 2px $shadow-darker-btn;
                }
                .nav-main-btn:hover {
                    transform: scale(1.1);
                }
            }
        } 
        h1 {
            font-size: 87px;
        }  
        .hero-shape-stars {
            top: 24%;
            right: -1%; 
            img {
                height: 95%;
                width: 95%;
            }
        }
        .supported-platforms {
            .platforms {
                p {
                    font-size: 17px;
                }
            }
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 1070px) {
    header {
        height: 1270px; 
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 1200px) {
    header {
        height: 1560px;
        nav {
            height: 9%;
            width: 79%;
            .nav-logo {
                left: 0; 
            }
        }
        h1 {
            font-size: 96px;
        }  
        .header-short-description {
            font-size: 16px;
            span {
                display: block;
            }
        }
        .hero-shape-stars {
            position: absolute;
            top: 29%;
            right: 4%; 
            img {
                height: 120%;
                width: 120%;
            }
        }
        .supported-platforms {
            .platforms {
                p {
                    font-size: 20px;
                }
            }
        }
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 1300px) {
    header {
        height: 1600px; 
    }
}
// --------------------------------------------------------------------------------------

@media (min-width: 1400px) {
    header {
        height: 1690px;
        nav {
            .nav-main-btns {
                .nav-main-btn:nth-child(2) {
                    padding: 2% 5%;
                }
            }
        }
        .hero-shape-stars {
            top: 32%;
        }
        .supported-platforms {
            .platforms {
                p {
                    font-size: 22px;
                }
            }
        }
    }
}
